 .sidebarRow{
     display: flex;
     align-items: center;
     padding: 10px 20px;
     border-radius: 5px;
     margin-top: 10px;
     margin-bottom: 10px;
 }
 .sidebarRow_icon{
     color: #606060;
     font-size: large;
 }
 .sidebarRow_tittle{
     flex: 1;
     margin-left: 20px;
     font-size: 14px;
     font-weight: 500;
 }
 .sidebarRow:hover{
     background-color: lightgray;
     cursor: pointer;
 }
 
 .sidebarRow:hover > .sidebarRow_icon{
   color: red;
    
 }
